services:
  php:
    container_name: ${COMPOSE_PROJECT_NAME:-worldprivacy-back}-php
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../web:/app/public
    tty: true